<!DOCTYPE html>
<html>
<head>
  <title>Gps</title>
   <script src="//maps.google.com/maps/api/js?v=3&sensor=false&libraries=adsense"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cerulean/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
<%= yield %>
 </div>
</body>
</html>
